body{
         background-image: url(../img/background/bg-login.jpg);
    }

	img{
		align-items: center;
		width: 70%;
		margin-left: 56px;
	}

    form {
		font-family: Arial, sans-serif;
		max-width: 400px;
		margin: 100px auto;
		padding: 20px;
		border: 1px solid #bdbdbd;
		border-radius: 8px;
		background-color: #bdbdbd;
         opacity: 0.9;
	}

	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

	h2 {
         color: #565656;
		text-align: center;
	}

	label {
		display: block;
		margin-top: 10px;
		font-weight: bold;
	}

	input[type="email"],
	input[type="password"] {
		width: 100%;
		padding: 8px;
		margin-top: 5px;
		border-radius: 4px;
		border: 1px solid #5e5959;
		box-sizing: border-box;
	}

	button {
		margin-top: 20px;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		background-color: #404040;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	button:hover {
		background-color: #2c2c2c;
	}